<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.pragyaa.pragyaa2018">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="org.pragyaa.pragyaa2018.Pragyaa"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon">
        <activity
            android:name="org.pragyaa.pragyaa2018.MainActivity"
            android:label="PRAGYAA 2019"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="com.pragyaa.pragyaa2017.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.pragyaa.pragyaa2018.SplashScreen"
            android:theme="@style/OnBoardTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.pragyaa.pragyaa2018.AboutUs"
            android:label="@string/about_us_activity_title"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pragyaa.pragyaa2018.MainActivity" />
        </activity>
        <activity
            android:name="org.pragyaa.pragyaa2018.ShowEventsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pragyaa.pragyaa2018.MainActivity" />
        </activity>
        <activity
            android:name="org.pragyaa.pragyaa2018.EventDetailsActivity"
            android:exported="true"
            android:label="@string/event_details_activity_title"
            android:theme="@style/AppTheme.TransNav" />
        <activity
            android:name="org.pragyaa.pragyaa2018.Hospitality"
            android:label="@string/title_activity_hospitality"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pragyaa.pragyaa2018.MainActivity" />
        </activity>
        <activity
            android:name="org.pragyaa.pragyaa2018.ScheduleActivity"
            android:exported="true"
            android:label="@string/title_activity_schedule"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.pragyaa.pragyaa2018.MainActivity" />
        </activity>
        <activity
            android:name="org.pragyaa.pragyaa2018.InfoDeptActivity"
            android:label="@string/title_activity_info_dept"
            android:theme="@style/AppTheme">
        </activity>

        <!-- Firebase Notifications -->
        <service android:name="org.pragyaa.pragyaa2018.notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="org.pragyaa.pragyaa2018.notifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- Firebase Notifications -->

    </application>

</manifest>